<div class="container-fluid portada">
    <h3>Conviértete en un organizador de aventuras y comparte tus experiencias con el mundo.</h3>

<div class="container containerForm">
    <form class="row g-3 formulario">
       <h4>Iniciar sesión</h4>
        <div class="col-md-6">
            <label for="validationServerUsername" class="form-label">email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">{{logoEmail}}</span>
              <input type="text" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <label for="validationServer01" class="form-label">Password</label>
          <input type="text" class="form-control " id="validationServer01" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
       
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Publica tu Evento</button>
        </div>
        <p>¿No tienes una cuenta? <a href="/registro">Regístrate aquí</a>.</p>
      </form>
    
    </div>
</div>