<div class="container-fluid portada">
    <h3>Conviértete en un organizador de aventuras y comparte tus experiencias con el mundo.</h3>

<div class="container containerForm">
    <form class="row g-3 formulario">
       <h4>Iniciar sesión</h4>
        <div class="col-md-6">
            <label for="validationServerUsername" class="form-label">email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">{{logoEmail}}</span>
              <input type="text" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <label for="validationServer01" class="form-label">Password</label>
          <input type="text" class="form-control " id="validationServer01" value="" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
       
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </div>
        <p>¿No tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Regístrate aquí</a>.</p>
      </form>
    
    </div>
</div>




<div class="modal " id="registerModal" tabindex="-1"  aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modalForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Regístrate </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="col-md-6">
            <label for="nombreOrganizador" class="form-label">Nombre del organizador</label>
            <input type="text" formControlName="nombreOrganizador" id="nombreOrganizador" class="form-control"
              [ngClass]="{'is-valid': registerForm.controls.nombreOrganizador.valid && (registerForm.controls.nombreOrganizador.dirty || registerForm.controls.nombreOrganizador.touched),
                          'is-invalid': registerForm.controls.nombreOrganizador.invalid && (registerForm.controls.nombreOrganizador.dirty || registerForm.controls.nombreOrganizador.touched)}"
              required>
            <div class="valid-feedback">
              Nombre correcto
            </div>
            <div class="invalid-feedback">
              Escribe el nombre del organizador
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">{{ logoEmail }}</span>
              <input type="email" formControlName="email" id="email" class="form-control"
                [ngClass]="{'is-valid': registerForm.controls.email.valid && (registerForm.controls.email.dirty || registerForm.controls.email.touched),
                            'is-invalid': registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)}"
                required>
              <div id="emailFeedback" class="invalid-feedback">
                Por favor ingresa un correo electrónico válido.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control"
              [ngClass]="{'is-valid': registerForm.controls.password.valid && (registerForm.controls.password.dirty || registerForm.controls.password.touched),
                          'is-invalid': registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)}"
              required>
            <div id="passwordFeedback" class="invalid-feedback">
              Por favor proporciona una contraseña válida.
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="rePassword" class="form-label">Repetir Password</label>
            <input type="password" formControlName="rePassword" id="rePassword" class="form-control"
              [ngClass]="{'is-valid': registerForm.controls.rePassword.valid && (registerForm.controls.rePassword.dirty || registerForm.controls.rePassword.touched),
                          'is-invalid': registerForm.controls.rePassword.invalid && (registerForm.controls.rePassword.dirty || registerForm.controls.rePassword.touched)}"
              required>
            <div id="rePasswordFeedback" class="invalid-feedback">
              Las contraseñas no coinciden.
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="tel" formControlName="phone" id="phone" class="form-control"
              [ngClass]="{'is-valid': registerForm.controls.phone.valid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched),
                          'is-invalid': registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)}"
              required>
            <div id="phoneFeedback" class="invalid-feedback">
              Por favor proporciona un número de teléfono válido.
            </div>
          </div>
          
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="aceptarTerminos"  [ngClass]="{'is-valid': registerForm.controls.aceptarTerminos.valid && (registerForm.controls.aceptarTerminos.dirty || registerForm.controls.aceptarTerminos.touched),
              'is-invalid': registerForm.controls.aceptarTerminos.invalid && (registerForm.controls.aceptarTerminos.dirty || registerForm.controls.aceptarTerminos.touched)}"
               id="invalidCheck3" required>
              <label class="form-check-label" for="invalidCheck3">
                Aceptar términos y condiciones
              </label>
              <div id="invalidCheck3Feedback" class="invalid-feedback">
                Debes aceptar los términos y condiciones antes de enviar.
              </div>
            </div>
          </div>
          
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Registrarse</button>
          </div>
        </form>
        

        
      </div>
     
    </div>
  </div>
</div>