.portada{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/login2.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;

}
.portada::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
   
}
.portada h3{
    font-family: "Bebas Neue", sans-serif;
    color:#ff6619;
    margin-bottom: 50px;
    text-align: center;
    position: relative; 
    font-size: 2.3em;
    z-index: 1; 
}



.containerForm{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 1; 

}
.formulario{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.formulario span{
    color:#ff6619;
}


/* login */
.containLogin{
    display: flex;
    justify-content: center;
    align-items: center;
   
}





@media screen and (max-width: 1050px){

  

  
  

}
@media screen and (max-width: 980px){

  


}

@media screen and (max-width: 600px){
   
    
}

