
 
  <h2 class="crearEventoTitle"> Tus Eventos</h2>
@if(!iraParticipantes && !mostrarUbicacion && !mostrarEditar && !mostrarFotos){

<div class="container-fluid p-0">

  <div class="ContainEvent">
    <div class="buscar">
      <h3>Eventos creados</h3>
      <div class="filtros">
        <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por Evento">
        <button class="btn btn-primary ordenar" (click)="cambiarOrden()">Ordenar Alfabéticamente</button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Evento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Info evento</th>
          <th scope="col">Material</th>
          <th scope="col">Acciones</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of buscar(); let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td><h6>{{ evento.name_event }}</h6> <p><span>Categoria: </span>{{ evento.Category.name }}</p> <p> <span>Dificultatd: </span> {{ niveles[evento.difficulty] }}</p>  <p><span>Para: </span> {{edades[evento.for_whom] }}</p> <p> <span>Max.</span> {{ evento.max_persons }} personas</p><p> <span> Precio:</span> {{ evento.price_per_person}} eur</p></td>
          <td><p><img src="../../../assets/img/fecha.png" alt=""> Inicio:</p> <p>{{ formatDate(evento.start_date) }}</p> <p><img src="../../../assets/img/fecha.png" alt=""> Fin: </p> <p>{{ formatDate(evento.end_date) }}</p></td>
          <td>{{ truncarTexto(evento.info_event, 50) }}</td> 
          <td>{{ truncarTexto(evento.material,50) }}</td>
          <td>
            <div class="dropdown">
              <button id="dropdownAcciones" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones
              </button>
              <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownAcciones' + i">
                <button class="dropdown-item " (click)="recogerIdEvent(evento.id_event)">Editar Evento</button>
                <button class="dropdown-item " (click)="recogerIdEventoUbicacion(evento.id_event)">Cambiar Ubicación</button>
                <button class="dropdown-item"  (click)="recogerIdFoto(evento.id_event)">Fotos</button>
                <button class="dropdown-item" (click)="recogerIdEvento(evento.id_event)">Ver Participantes</button>
               
                <button class="dropdown-item borrarEvent" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="borrar(evento.id_event)">Borrar Evento</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

}
@if(iraParticipantes && !mostrarUbicacion && !mostrarEditar && !mostrarFotos){
  <app-ver-participantes [event_id]="enviarId"  (volver)="cambiarVista()"></app-ver-participantes>
} 
@if(mostrarUbicacion && iraParticipantes && !mostrarEditar && !mostrarFotos){
  <app-ubicacion [ubicaccion_id]="enviarId"  (volver)="cambiarUbicacion()"></app-ubicacion>
}
@if(mostrarEditar && !iraParticipantes && !mostrarUbicacion && !mostrarFotos){
  <app-upload-event [editar_id]="enviarId"  (volver)="cambiarEvento()" (eventoActualizado)="refrescar()"></app-upload-event>
}
@if(!mostrarEditar && !iraParticipantes && !mostrarUbicacion && mostrarFotos){
  <app-fotografias [fotografia_id]="enviarId"  (volver)="cambiarFoto()"></app-fotografias>
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea borrar este evento?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarEvento()">Borrar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button>
      </div>
    </div>
  </div>
</div>