.containerMapbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    padding: 0px;
}
#map-mapbox{
    width: 100%;
    height: 80vh;
     
}

.titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.titulo h3 {
    color: #000000;
    font-size: 2.5em;
    font-family: "Bebas Neue", sans-serif;
    margin: 20px;
}

.btn{
  
    margin: 10px;
}

.alerta {
    display: none; 
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
   
  }
.modal-body img{
    width: 30%;
  }
  .modalLoginSuccess{
    background-color: rgb(209, 231, 221);
  
  }
  .modal-header{
    border-bottom: 1px solid black;
  }