<div class="container-fluid containerEventos">
    
    <div class="eventosDestacados">
        <h3>¡Empieza tus <span>Aventura</span> Hoy!</h3>
        <p>Explora nuestros eventos destacados y encuentra tu próxima gran aventura. <br>Ya sea que busques desafiarte a ti mismo en las montañas, explorar nuevos senderos o navegar por ríos turbulentos, <span>AVENTURA NATURA </span> es el lugar perfecto para comenzar.</p>
    </div>

     
<div class="contenedorCards">
   <div class="target">
    <div class="imagen"></div>
    <br>
    <h4>Senderismo</h4>
    <h5>Unio excursionista de sabadell</h5>
    <div class="linea"></div>
       <p>Recorrido por el parc natural del cadi</p>
       <p>24-06-2024</p>
   </div>

   <div class="target">
    <div class="imagen"></div>
    <br>
    <h4>Senderismo</h4>
    <h5>Unio excursionista de sabadell</h5>
    <div class="linea"></div>
       <p>Recorrido por el parc natural del cadi</p>
       <p>24-06-2024</p>
   </div>

   <div class="target">
    <div class="imagen"></div>
    <br>
    <h4>Senderismo</h4>
    <h5>Unio excursionista de sabadell</h5>
    <div class="linea"></div>
       <p>Recorrido por el parc natural del cadi</p>
       <p>24-06-2024</p>
   </div>

   <div class="target">
    <div class="imagen"></div>
    <br>
    <h4>Senderismo</h4>
    <h5>Unio excursionista de sabadell</h5>
    <div class="linea"></div>
       <p>Recorrido por el parc natural del cadi</p>
       <p>24-06-2024</p>
   </div>




</div>
<button class="eventosBTN">Ver mas eventos</button>
</div>