<div class="container-fluid containerEventos">
    
    <div class="eventosDestacados">
        <h4><span>Empieza tus aventuras hoy</span></h4>
        <p>Explora nuestros eventos destacados y encuentra tu próxima gran aventura. <br>Ya sea que busques desafiarte a ti mismo en las montañas, explorar nuevos senderos o navegar por ríos turbulentos, Aventura Natura es el lugar perfecto para comenzar.</p>
    </div>

     
<div class="contenedorCards" >
  <a href="#">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://localhost:3001/uploads/{{datosEventos[0].Photos[0].photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{datosEventos[0].User.name}}</h5>
          <h6 class="card-title">{{datosEventos[0].Category.name}}</h6>
          <p class="card-text"><b>{{datosEventos[0].name_event}}</b><br>{{datosEventos[0].start_date}}
             @if(datosEventos[0].price_per_person !=0){
                <p> precio: {{datosEventos[0].price_per_person}} eur</p> 
            }
            @else {
                <p>precio: gratis</p>
            }
        
        </div>
      </div>
  </a>
  <a href="#">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://localhost:3001/uploads/{{datosEventos[2].Photos[0].photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{datosEventos[2].User.name}}</h5>
          <h6 class="card-title">{{datosEventos[2].Category.name}}</h6>
          <p class="card-text"><b>{{datosEventos[2].name_event}}</b><br>{{datosEventos[2].start_date}}
             @if(datosEventos[2].price_per_person !=0){
                <p> precio: {{datosEventos[2].price_per_person}} eur</p> 
            }
            @else {
                <p>precio: gratis</p>
            }
        
        </div>
      </div>
    </a>
    <a href="">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://localhost:3001/uploads/{{datosEventos[4].Photos[0].photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{datosEventos[4].User.name}}</h5>
          <h6 class="card-title">{{datosEventos[4].Category.name}}</h6>
          <p class="card-text"><b> {{datosEventos[4].name_event}}</b><br>{{datosEventos[4].start_date}}
             @if(datosEventos[4].price_per_person !=0){
                <p> precio: {{datosEventos[4].price_per_person}} eur</p> 
            }
            @else {
                <p>precio: gratis</p>
            }
         
        </div>
      </div>
    </a>
    <a href="">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://localhost:3001/uploads/{{datosEventos[6].Photos[0].photo}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{datosEventos[6].User.name}}</h5>
          <h6 class="card-title">{{datosEventos[6].Category.name}}</h6>
          <p class="card-text"> <b>{{datosEventos[6].name_event}}</b><br>{{datosEventos[6].start_date}}
             @if(datosEventos[6].price_per_person !=0){
                <p> precio: {{datosEventos[6].price_per_person}} eur</p> 
            }
            @else {
                <p>precio: gratis</p>
            }
         
        </div>
      </div>
    </a>

   


</div>

</div>

<div class="container explorar">
    <h4>¿Listo para tu próxima <span>aventura</span>? ¡Explora, inscribite a los eventos y Disfruta!</h4>
   <a href="/events"><button class="eventosBTN">Explorar Eventos</button></a> 
</div>