.containerEventos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
 
}

.eventosDestacados{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.eventosDestacados h4{
    font-family: "Work Sans", sans-serif;
    font-size: 2.5em;
 
}

.eventosDestacados p{
    font-family: "Libre Baskerville", serif;
   font-weight: 400;
   font-style: normal; 
   margin-top: 20px;
   font-size: 1.3em;
}
.eventosDestacados span{
    font-family: "Work Sans", sans-serif;
    color:#ff6619;
    
}

/* EVENTOS DESTACADOS */

.contenedorCards{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.card{
    margin: 30px;
    border:none;
    background-color: #EFEFEF;
     cursor: pointer;
  --bs-card-border-radius:none;
  transition: 0.5s;
}
.card:hover{
    box-shadow: 0px 0px 10px grey;;
}
.card-img, .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card h5{
    color: #ff6619;
    
}
a{
    text-decoration: none;
}

.eventosBTN{
    margin-bottom: 100px;
    padding: 20px;
    border:none;
    font-family: "Work Sans", sans-serif;
    background-color: #1d6e40;
    color: white;
}
.eventosBTN:hover{
    margin-bottom: 100px;
    padding: 20px;
    border:none;
    font-family: "Work Sans", sans-serif;
    background-color: #195d37;
    color: white;
}

.explorar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  
}
.explorar h4{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

.explorar span{
    color:#ff6619;
}


@media screen and (max-width: 980px){
   
    .containerEventos{
        margin-top: 50px;
    }
    .eventosDestacados{
        width: 100%;
    }
/* EVENTOS DESTACADOS */



}