.containerFormulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 10px;
     font-family: "Work Sans", sans-serif;
     background-color: rgb(240, 240, 240);

}


.form-control.is-valid{
    background-image: none !important;
 }

 .form-select.is-valid{
    background-image: none !important;
 }
 .formulario{
   padding: 20px;
}

 .titulo_form h3{
   color: #000000;
   font-size: 2.5em;
   font-family: "Bebas Neue", sans-serif;
}
.titulo_form{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.alerta {
   display: none; 
   position: fixed;
   z-index: 1050;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.5);
   text-align: center;
  
 }
 .modal-body img{
   width: 30%;
 }
 .modalLoginSuccess{
   background-color: rgb(209, 231, 221);
 
 }
 .modal-header{
   border-bottom: 1px solid black;
 }
@media screen and (max-width: 600px){


   .titulo_form{
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
     }
   
}