.containerFormulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 10px;
     font-family: "Work Sans", sans-serif;
     background-color: rgb(240, 240, 240);

}

.formulario{
    padding: 20px;
}

.titulo_form h3{
    color:#ff6619;
    font-size: 2.5em;
    font-family: "Bebas Neue", sans-serif;
}

.containerMapbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    font-family: "Work Sans", sans-serif;
    padding: 0px;
}
#map-mapbox{
    width: 100%;
    height: 80vh;
     
}



.form-control.is-valid{
    background-image: none !important;
 }

 .form-select.is-valid{
    background-image: none !important;
 }
.titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
h3 {
  color:#ff6619;
  font-size: 2.5em;
  font-family: "Bebas Neue", sans-serif;
}

.containerFotos {
    width: 100%;
    height: auto;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Work Sans", sans-serif;
  }
  #formFotos{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     padding: 20px;

  }

  .btn{
    margin-top: 20px;
  }
  .tituloFotos {
  width: 100%;
  padding: 20px;

  }
  .form-label {
    font-weight: bold;
  }

  .imagenes{
    width: 100%;
    height: 200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   align-items: start;
   margin-top: 50px;
  
  }

  .imgTarget p{
    text-align: center;
    color:red;
    cursor: pointer;
  }
  
.imagenes img{
    width: 200px;
    height: auto;
   margin: 5px;
   position: relative;
}

.crearEvento{
    width: 100%;
    height: auto;
   display: flex;
   justify-content: end;
   align-items: center;

}

.btnCancelar{
   padding: 15px;
   border:none;
   background-color: red;
   color:white;
  margin-right: 5px;

}
.btnCancelar:hover{
    padding: 15px;
    border:none;
    background-color: rgb(225, 1, 1);
    color:white;
   margin-right: 5px;
 }
.btnCrear{
    padding: 15px;
    border:none;
    background-color: rgb(13, 110, 253);
    color:white;
    margin-left: 5px;

}
.btnCrear:hover{
    padding: 15px;
    border:none;
    background-color: rgb(13, 97, 222);
    color:white;
    margin-left: 5px;
 
}
/* alert Creacion evento */
.alerta {
  display: none; 
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
 
}
.modal-body img{
  width: 30%;
}
.modalLoginSuccess{
  background-color: rgb(209, 231, 221);

}
.modalLoginDanger{
  background-color: rgb(248, 215, 218);
}

@media screen and (max-width: 1050px){

    .crearEvento{
        width: 100%;
        height: 200px;
       display: flex;
       justify-content: end;
       align-items: end;
    margin-bottom: 100px;
    }

}

@media screen and (max-width: 600px){
  .containerFotos {
    width: 100%;
    height: auto;
  }
      #formFotos{
        width: 100%;
        height: auto;
      }

    .crearEvento{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 50px;
    }
    

    .imagenes{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;

      }
      .btnCrear{
        padding: 15px;
        border:none;
        background-color: rgb(13, 110, 253);
        color:white;
        margin-left: 5px;
        margin-right: 0px;
    }
    .btnCrear:hover{
        padding: 15px;
        border:none;
        background-color: rgb(13, 97, 222);
        color:white;
        margin-left: 5px;
        margin-right: 0px;
    }

}