<div class="container-fluid container2 p-0">
    <div class="ContainEvent">
      <div class="buscar">
        <h3>Participantes del evento</h3>
        <div class="filtros">
          <input type="text" class="filtrar" [(ngModel)]="filtroNombre" placeholder="Buscar por Titulo">
          <button class="btn btn-primary filtrar" (click)="cambiarOrden()">Ordenar Alfabéticamente</button>
          <button class="btn btn-info filtrar" (click)="onVolver()">Volver al Evento</button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">email</th>
            <th scope="col">Telefono</th>
            <th scope="col">personas</th>
            <th scope="col">Editar</th>
            <th scope="col" >Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participante of buscar(); let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ participante.name }}</td>
            <td>{{ participante.surname }}</td>
            <td>{{ participante.email }}</td>
            <td>{{ participante.phone }}</td>
            <td>{{ participante.persons }}</td>
            <td><button class="btn btn-warning" (click)="abrirModal(participante.id_participants)">Editar</button></td>
            <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="borrar(participante.id_participants)">Borrar</button></td>
          </tr>
        </tbody>
      </table>
   
    </div>
  
  </div>
 

  <div class="modal alerta" [style.display]="editadoCorrectamente ? 'block' : 'none'" >
    <div class="modal-dialog">
      <div class="modal-content modalLoginSuccess">
        <div class="modal-header">
          <h5 class="modal-title">Editar participante </h5>
        </div>
        <div class="modal-body ">
          <form class="row g-3 p-3 needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate >
            <div class="col-sm-12 col-md-6">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" formControlName="name" id="name" class="form-control"
                [ngClass]="{'is-valid': registerForm.controls.name.valid && (registerForm.controls.name.dirty || registerForm.controls.name.touched),
                            'is-invalid': registerForm.controls.name.invalid && (registerForm.controls.name.dirty || registerForm.controls.name.touched)}"
                required>
              <div class="invalid-feedback">
                Escribe tu nombre
              </div>
            </div>
            <div class=" col-sm-12 col-md-6">
                <label for="surname" class="form-label">Apellidos</label>
                <input type="text" formControlName="surname" id="surname" class="form-control"
                  [ngClass]="{'is-valid': registerForm.controls.surname.valid && (registerForm.controls.surname.dirty || registerForm.controls.surname.touched),
                              'is-invalid': registerForm.controls.surname.invalid && (registerForm.controls.surname.dirty || registerForm.controls.surname.touched)}"
                  required>
                <div class="invalid-feedback">
                  Escribe tus apellidos
                </div>
              </div>
            
            <div class="col-sm-12 col-md-6">
              <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend3">{{ logoEmail }}</span>
                <input type="email" formControlName="email" id="email" class="form-control"
                  [ngClass]="{'is-valid': registerForm.controls.email.valid && (registerForm.controls.email.dirty || registerForm.controls.email.touched),
                              'is-invalid': registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)}"
                  required>
                <div id="emailFeedback" class="invalid-feedback">
                  Por favor ingresa un correo electrónico válido.
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <label for="phone" class="form-label">Teléfono</label>
              <input type="text" formControlName="phone" id="phone" class="form-control" 
                [ngClass]="{'is-valid': registerForm.controls.phone.valid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched),
                            'is-invalid': registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)}"
                required>
              <div id="phoneFeedback" class="invalid-feedback">
                Por favor proporciona un número de teléfono válido.
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="persons" class="form-label">Número de asistentes</label>
                <input type="number" formControlName="persons" id="persons" class="form-control"
                  [ngClass]="{'is-valid': registerForm.controls.persons.valid && (registerForm.controls.persons.dirty || registerForm.controls.persons.touched),
                              'is-invalid': registerForm.controls.persons.invalid && (registerForm.controls.persons.dirty || registerForm.controls.persons.touched)}"
                  required>
                <div class="invalid-feedback">
                  Escribe tu nombre
                </div>
              </div>
            
            
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Guardar</button>
              <button class="btn btn-secondary m-3" (click)="cerrar()" >Cancelar</button>
            </div>
          </form>
  

      
        </div>
  
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Borrar participante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de que desea borrar este participante?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarParticipante()">Borrar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>