.container2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.ContainEvent{
    width: 100%;
    height: auto;
    margin-top: 20px;

}

.buscar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 
}




.volver{
    width: 100%;
}


h3{
    margin: 20px;
    color: #000000;
    font-size: 2.5em;
    font-family: "Bebas Neue", sans-serif;
}

.alerta {
    display: none; 
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

  }

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

  .modalLoginSuccess{
    background-color: rgb(244, 244, 244);
  
  }
  .modal-header{
    border-bottom: 1px solid black;
  }
  .form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
  
}
.ordenar{
    margin: 15px;
}
.filtros{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
}


  .modal-header{
    border-bottom: 1px solid black;
  }
@media screen and (max-width: 980px){
    .container-fluid{
        width: 100%;
        height: auto;
        overflow: none;
    }

    form{
        padding: 0px;
    }
    .filtros{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border:1px solid red;
    }
}

  