<div class="container-fluid container2 p-0">
    <div class="ContainEvent">
      <div class="buscar">
        <h3>Participantes del evento</h3>
        <div class="filtros">
          <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por Titulo">
          <button class="btn btn-primary ordenar" (click)="cambiarOrden()">Ordenar Alfabéticamente</button>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">email</th>
            <th scope="col">Telefono</th>
            <th scope="col">personas</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participante of buscar(); let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ participante.name }}</td>
            <td>{{ participante.surname }}</td>
            <td>{{ participante.email }}</td>
            <td>{{ participante.phone }}</td>
            <td>{{ participante.persons }}</td>
            <td><button class="btn btn-warning">Editar</button></td>
            <td><button class="btn btn-danger">Borrar</button></td>
          </tr>
        </tbody>
      </table>
      <div class="volver">
        <button class="btn btn-success" (click)="onVolver()">Volver al Evento</button>
      </div>
    </div>
  
  </div>
 