.container2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.ContainEvent{
    width: 100%;
    height: auto;
    margin-top: 20px;

}

.buscar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 
}

input{
    width: 230px;
    height: 40px;
    margin: 20px;
}
.ordenar{
margin: 20px;
}

.volver{
    width: 100%;
    margin-left: 20px;

}
h3{
    margin: 20px;
    color: #ff6619;
}

@media screen and (max-width: 980px){
    .container-fluid{
        width: 100%;
        height: auto;
        overflow: none;
    }
 

}