.container-fluid{
    --bs-gutter-x: 0rem;

}
.black{
    width: 100%;
    height: 50px;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.info{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;

}
.email{
    width: 200px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.email p{

margin-top: 10px;
}
.email img{
    width: 20px;
    margin: 5px;
}
.location{
    width: 200px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
}
.location p{

margin-top: 10px;
}
.location img{
    width: 20px;
    margin: 5px;
}
.redes{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .red1{
    width: 20px;
    height: 20px;
    margin: 10px;
   background-image: url('../../assets/img/facebook_blanco.png');
   background-size: cover;
   cursor: pointer;
 }
 .red1:hover{
    width: 20px;
    height: 20px;
    margin: 10px;
   background-image: url('../../assets/img/facebook_naranja.png');
   background-size: cover;
 }
 .red2{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-image: url('../../assets/img/instagram_blanco.png');
    background-size: cover;
    cursor: pointer;
 }
 .red2:hover{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-image: url('../../assets/img/instagram_naranja.png');
    background-size: cover;
    cursor: pointer;
 }
 .red3{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-image: url('../../assets/img/youtube_blanco.png');
    background-size: cover;
    cursor: pointer;
 }
 .red3:hover{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-image: url('../../assets/img/youtube_naranja.png');
    background-size: cover;
    cursor: pointer;
 }
.logo{
    width:100px;
    height: 65px;
    background-image: url('../../assets/img/AVENTURA2.png');
    background-size: cover;
    background-position: center;
     margin: 0px;
 background-color: rgb(239, 239, 239);
}

nav{
  
    padding: 0px;

}


.navbar-nav{
      font-size: 1.1em;
    --bs-nav-link-padding-x: 0rem;
    --bs-nav-link-padding-y: 1.2rem;
    font-family: "Work Sans", sans-serif;
}
   .nav-link:hover {
    background-color: #ff6619;
    border-left:1px solid #ff6619;
    border-right:1px solid #ff6619;
    color:white;
  }
  
  .nav-link{
    border-left:1px solid rgb(239, 239, 239);
    border-right:1px solid rgb(239, 239, 239);
  }

.empresa .empresasA{
    background-color:#1d6e40;
     border-left: none;
     border-right: none;
}
.empresa .empresasA:hover{
    background-color:#195d37;
    border-left: none;
    border-right: none;
}
.administrarEventos .nav-link{
    background-color:rgb(255, 255, 255) ;
    border-right: 2px solid rgb(239, 239, 239);
    color:grey;
}
.administrarEventos .nav-link:hover{
    background-color: #e85e19;
    border-right: none;
    border-left: none;
    color:white;
}
.empresasA{
    color:white;
}
.empresasB{
    color:white;
}
.empresa .empresasB{
    background-color:rgb(63, 81, 181);
     border-left: none;
     border-right: none;
}
.empresa .empresasB:hover{
    background-color: rgb(68, 87, 192); ;
    border-left: none;
    border-right: none;
}


  

  @media screen and (max-width: 980px){

    nav{
        padding: 10px;
    }
    .navbar-nav{
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-color: black;
        --bs-nav-link-hover-color: black;
    
    }
 

  }

  @media screen and (max-width: 600px){
    .black{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info{
        width: 350px;
        height: auto;
        display: flex;
        align-items: center;

    }
   
  }