<div class="container-fluid">
<div class="sidebar" id="sidebar">
    
 
    <div class="selectores">
      <img src="../../assets/img/crear.png" alt="">
      <p (click)="crearEvento()"> Crear Evento</p>
    </div>
    <div class="selectores">
    <img src="../../assets/img/editar.png" alt="">
    <p (click)="editarEvento()">Tus Eventos</p>
  </div>
  <div class="selectores">
    <img src="../../assets/img/calendario.png" alt=""> 
    <p (click)="calendario()">Calendario</p>
  </div>
  <div class="selectores">
    <img src="../../assets/img/barra-grafica.png" alt="">
    <p (click)="finanzas()">Finanzas</p>
  </div>
  </div>
  <div class="userEvents">
    @if(createEvent){
      <app-crear-eventos></app-crear-eventos>
    }
    @if(updateEvent){
     <app-editar-eventos></app-editar-eventos>
    }
  
     @if(calendar){
      <app-calendario></app-calendario>
    }
      @if(finance){
        <app-finanzas></app-finanzas>
    }
     
   
  
  </div>
</div>