
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

.userEvents{
    width: 90%;
    height: auto;
    background-color: rgb(240, 240, 240);

}
.sidebar {
    height: auto;
    width: 10%;
    height: auto;
   background-color:#1d6e40;
    transition: 0.5s;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
padding: 20px;
  }
  
  .sidebar p{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 20px;
    transition: 0.3s;
    font-family: "Work Sans", sans-serif;
   cursor: pointer;
  }
  .sidebar h6{
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
  }
  .sidebar p:hover {
    color:#ff6619;
  }
  

  
  @media screen and (max-width: 600px) {

  }
  
  @media screen and (max-width: 1050px) {
    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
      .sidebar {
      width: 100%;
      height: auto;
      
  

      }
      .userEvents{
        width: 100%;
       
    
    }
  
 
  }
  