<div class="container-fluid">
<div class="sidebar" id="sidebar">
    <h6>Bienvenido <br>usuario</h6>
    <p (click)="crearEvento()"><img src="../../assets/img/crear.png" alt=""> Crear Evento</p>
    <p (click)="editarEvento()"><img src="../../assets/img/editar.png" alt=""> Gestionar Eventos</p>
    <p (click)=" participantes()"><img src="../../assets/img/participantes.png" alt=""> Participantes</p>
    <p (click)="calendario()"><img src="../../assets/img/calendario.png" alt=""> Calendario</p>
    <p (click)="finanzas()"><img src="../../assets/img/barra-grafica.png" alt=""> Finanzas</p>
  </div>
  <div class="userEvents">
    @if(createEvent){
      <app-crear-eventos></app-crear-eventos>
    }
    @if(updateEvent){
     <app-editar-eventos></app-editar-eventos>
    }
    @if(participants){
     <app-participantes></app-participantes>
    }
     @if(calendar){
      <app-calendario></app-calendario>
    }
      @if(finance){
        <app-finanzas></app-finanzas>
    }
     
   
  
  </div>
</div>